<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>本日の習慣</h1>
      <p>
      本日は以下の習慣に取り組みましょう！
      </p>
      <ul>
        <% @today_habits.each do |habit| %>
          <li><%= habit.name %></li>
        <% end %>
      </ul>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
  </body>
</html>
