<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>今日予定している習慣一覧</h1>
      <ul>
        <% @today_habits.each do |achivement| %>
          <li><%= achivement.habit.name %></li>
        <% end %>
      </ul>
    <p>
      このサイトにログインするには、<a href="<%= @url %>"><%= @url %></a>をクリックしてください。
    </p>
  </body>
</html>
