<div class="list-group">
  <%= link_to "今日", today_habits_path, class: "list-group-item #{left_menu_active_class('today_habits')}" %>
  <%= link_to "習慣一覧", habits_path, class: "list-group-item #{left_menu_active_class('habits')}" %>
</div>
